@*@model IEnumerable<YtBookStore.Models.Domain.Book>
@{
}

<div class="container pt-3">
   

    <div class="row">
        <div class="col-md-12">
            <h3>Books</h3>

    <form asp-action="Index" method="get">
      <div class="form-group">
          <lable formaction="SearchString"></lable>
          <input type="text" name="SearchString"
              value="@ViewData["CurrentFilter"]" />
              <input type="submit" value="Search" class="btn btn-primary" />
      </div>
    </form>



     <table  class="table table-stripped table-bordered bg-primary" style="width:100%">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Genre</th>
                        <th>Isbn</th>
                        <th>Total Pages</th>
                        <th>Author</th>
                        <th>Publisher</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                                <td>@item.Title</td>
                                <td>@item.GenreName</td>
                                <td>@item.Isbn</td>
                                <td>@item.TotalPages</td>
                                <td>@item.AuthorName</td>
                                <td>@item.PublisherName</td>
                            <td>
                                    <a class="btn btn-success" href="/Book/Update?id=@item.Id"><i class="bi bi-pen"></i></a> |
                                    <a class="btn btn-danger" onclick="return window.confirm('Are you sure?')" href="/Book/Delete?id=@item.Id"><i class="bi bi-trash"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
     <div class="row">
        <div class="col-md-12">
            <a class="btn btn-dark" href="/Book/Add">+ Add more</a>
        </div>
    </div>
</div>

*@

@model IEnumerable<YtBookStore.Models.Domain.Book>
@{

}
 <div style="margin-left:-100px; margin-right:-100px">
    <div class="row" >
        <div class="col-md-12" style="padding-top:2%;padding-bottom:2%;" > 
            <div class="col-md-12">
            <a style="float: right;" class="btn btn-dark" href="/Book/Add">+ Add more</a>
             </div>



     <form asp-action="Index" method="get">
      <div class="form-group" style="padding-top:0%;padding-bottom:2%;">
          <lable formaction="SearchString" ></lable>
          <input type="text" style="height:35px;width:175px" name="SearchString" placeholder="Search Title"
              value="@ViewData["CurrentFilter"]"/>
              <input style="height:35px;width:70px" type="submit" value="Search" class="btn btn-primary" />
      </div>
    </form>

            <table class="table table-stripped table-bordered border-dark" style="width:100%">
                <thead class="table-dark">
                    <tr>
                        <th>Title</th>
                        <th>Genre</th>
                        <th>Book Location[Room-Rack]</th>
                        <th>Total Pages</th>
                        <th>Author</th>
                        <th>Publisher</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                                <td>@item.Title</td>
                                <td>@item.GenreName</td>
                                <td>@item.Book_Location</td>
                                <td>@item.TotalPages</td>
                                <td>@item.AuthorName</td>
                                <td>@item.PublisherName</td>
                            <td>
                                    <a class="btn btn-success" href="/Book/Update?id=@item.Id"><i class="bi bi-pen"></i></a> |
                                    <a class="btn btn-danger" onclick="return window.confirm('Are you sure?')" href="/Book/Delete?id=@item.Id"><i class="bi bi-trash"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

    </div>
</div>
</div>

